# Built artifacts
bin/
gen/
out/
build/

# Gradle files
.gradle/
build/

# Local configuration file (contains local paths to SDKs)
local.properties

# Log files
*.log

# Android Studio / IntelliJ IDEA files
.idea/
*.iml
*.iws
*.ipr
/out/

# Keystore files
*.jks
*.keystore

# External native build
.externalNativeBuild/
.cxx/

# Google Services configuration file
# google-services.json

# DS_Store (macOS)
.DS_Store

# Captures (memory dumps, etc.)
/captures

# Freeline
freeline.py
freeline/
freeline_project_description.json

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Bundletool
*.apks
